Exercise 2.2

### 1. Import Libraries

In [14]:
import sys
print(sys.executable)

/Users/ryumugil/Desktop/Achievement7/Citibike-dashboard-project/venv/bin/python

In [16]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

print("All libraries imported successfully!")

All libraries imported successfully!

In [18]:
from pathlib import Path

folderpath  = Path.home() / "Desktop" / "Citibike-dashboard-project"
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [20]:
filepaths

['/Users/ryumugil/Desktop/Citibike-dashboard-project/Untitled Folder',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/Untitled1.ipynb',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/anaconda_projects',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/Untitled.ipynb',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/Untitled Folder 2',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/Untitled2.ipynb',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/lga_weather_2022_daily.csv',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/.virtual_documents',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/.ipynb_checkpoints',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/202201-citibike-tripdata_2.csv',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/Untitled Folder 1',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/untitled.py',
 '/Users/ryumugil/Desktop/Citibike-dashboard-project/202201-citibike-tripdata_1.csv']

In [1]:
import os
print(os.getenv("NOAA_TOKEN") is not None)

True

In [5]:
import os
os.environ["NOAA_TOKEN"] = "TOKEN_HERE"

In [34]:
from pathlib import Path
import pandas as pd

# Folder where your CSVs are located (adjust if needed)
data_dir = Path("/Users/ryumugil/Desktop/Citibike-dashboard-project")

# Grab ONLY csv files (ignores folders like "Untitled Folder")
filepaths = sorted(data_dir.glob("*.csv"))

print("CSV files found:")
for f in filepaths:
    print("-", f)

# Read + concatenate
df = pd.concat((pd.read_csv(f, low_memory=False) for f in filepaths), ignore_index=True)

CSV files found:
- /Users/ryumugil/Desktop/Citibike-dashboard-project/202201-citibike-tripdata_1.csv
- /Users/ryumugil/Desktop/Citibike-dashboard-project/202201-citibike-tripdata_2.csv
- /Users/ryumugil/Desktop/Citibike-dashboard-project/lga_weather_2022_daily.csv

In [36]:
df.shape

(1024920, 17)

In [38]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,PRCP,TMAX,TMIN
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,NaN,NaN,NaN,NaN
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,NaN,NaN,NaN,NaN
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,NaN,NaN,NaN,NaN
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,NaN,NaN,NaN,NaN
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,NaN,NaN,NaN,NaN

In [40]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,PRCP,TMAX,TMIN
1024915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-27,0.0,1.7,-1.6
1024916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0.0,8.3,0.6
1024917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-29,0.0,10.6,3.3
1024918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-30,0.0,15.6,3.3
1024919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-31,7.9,12.8,5.6

### 2. Describe the above code

### Reading and Combining the Citibike Data

In this step, we load multiple Citibike CSV files at once and combine them into a single DataFrame for analysis.  
We first define the directory that contains the CSV files and use `Path.glob("*.csv")` to ensure that **only CSV files** are selected, avoiding folders or unrelated files.  
Each CSV file is then read using `pandas.read_csv()` and concatenated into one DataFrame with `pd.concat()`.  
The `ignore_index=True` parameter resets the index so the combined dataset has a clean, continuous index.This approach is efficient and scalable, allowing additional CSV files to be added to the folder without changing the code.

### 3. Register to NOAA’s web app and request your token.

In [46]:
# Define your NOAA token - type yours in here! 

TOKEN = "TOKEN_HERE".strip()
headers = {"token": TOKEN}

### 4. Get weather data using New York LaGuardia's weather station 2022

In [ ]:
# Get the API 

r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00094846&startdate=2018-01-01&enddate=2018-12-31', headers={'token':Token})

In [48]:
!pip install certifi

Requirement already satisfied: certifi in /Users/ryumugil/Desktop/Achievement7/Citibike-dashboard-project/venv/lib/python3.12/site-packages (2026.1.4)

In [55]:
import os
import time
import requests
import pandas as pd
import urllib3

# (Temporary workaround for SSL issues on some macOS setups)
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

# -------------------
# SETTINGS
# -------------------
TOKEN = os.getenv("NOAA_TOKEN")
if not TOKEN:
    raise ValueError("NOAA_TOKEN not found. Restart Jupyter from the same terminal where you exported it.")

BASE_URL = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data"

STATION_ID = "GHCND:USW00014732"   # LaGuardia Airport
START_DATE = "2022-01-01"
END_DATE = "2022-12-31"

# Choose common daily variables (datatype IDs)
DATATYPES = ["TMAX", "TMIN", "PRCP"]

headers = {"token": TOKEN}

def fetch_all_cdo_data(datasetid: str, stationid: str, startdate: str, enddate: str, datatypes=None) -> pd.DataFrame:
    """
    Fetch all NOAA CDO /data results using pagination.
    """
    all_rows = []
    limit = 1000
    offset = 1

    while True:
        params = {
            "datasetid": datasetid,
            "stationid": stationid,
            "startdate": startdate,
            "enddate": enddate,
            "units": "metric",
            "limit": limit,
            "offset": offset
        }

        # Add datatype filters if provided
        if datatypes:
            params["datatypeid"] = datatypes

        r = requests.get(
            BASE_URL,
            headers=headers,
            params=params,
            timeout=60,
            verify=False
        )

        # Helpful debug output if NOAA rejects the request
        if r.status_code != 200:
            print("Status:", r.status_code)
            print("Response:", r.text)

        r.raise_for_status()
        payload = r.json()

        results = payload.get("results", [])
        if not results:
            break

        all_rows.extend(results)

        meta = payload.get("metadata", {})
        resultset = meta.get("resultset", {})
        count = resultset.get("count", 0)

        offset += limit
        if len(all_rows) >= count:
            break

        time.sleep(0.25)

    return pd.DataFrame(all_rows)

# -------------------
# 1) FETCH DAILY WEATHER DATA (2022)
# -------------------
raw = fetch_all_cdo_data(
    datasetid="GHCND",
    stationid=STATION_ID,
    startdate=START_DATE,
    enddate=END_DATE,
    datatypes=DATATYPES
)

if raw.empty:
    raise RuntimeError("No data returned. Double-check station ID, dates, and token.")

# -------------------
# 2) CONVERT TO WIDE FORMAT (one row per date)
# -------------------
raw["date"] = pd.to_datetime(raw["date"]).dt.date

wide = (
    raw.pivot_table(index="date", columns="datatype", values="value", aggfunc="first")
       .reset_index()
       .sort_values("date")
)

# -------------------
# 3) EXPORT TO CSV
# -------------------
output_path = "lga_weather_2022_daily.csv"
wide.to_csv(output_path, index=False)

print(f"✅ Saved {len(wide)} daily rows to: {output_path}")
wide.head()

✅ Saved 365 daily rows to: lga_weather_2022_daily.csv

datatype        date  PRCP  TMAX  TMIN
0         2022-01-01  19.3  13.9  10.0
1         2022-01-02   1.0  15.6   3.9
2         2022-01-03   0.0   3.9  -4.3
3         2022-01-04   0.0   2.2  -6.0
4         2022-01-05   6.1   8.9   0.0

### 5.Merge the weather data with the New York CitiBike data

In [60]:
# Folder containing CitiBike CSV files
citibike_path = Path(".")

# Collect only CitiBike CSV files
citibike_files = list(citibike_path.glob("202201-citibike-tripdata_*.csv"))

# Read and concatenate
citibike_df = pd.concat(
    (pd.read_csv(f, low_memory=False) for f in citibike_files),
    ignore_index=True
)

print("CitiBike rows:", len(citibike_df))

CitiBike rows: 1024555

In [62]:
citibike_df["started_at"] = pd.to_datetime(citibike_df["started_at"])
citibike_df["date"] = citibike_df["started_at"].dt.date

In [64]:
weather_df = pd.read_csv("lga_weather_2022_daily.csv")

weather_df["date"] = pd.to_datetime(weather_df["date"]).dt.date

In [66]:
merged_df = citibike_df.merge(
    weather_df,
    on="date",
    how="left"
)

merged_df.to_csv("citibike_weather_2022.csv", index=False)

print("Merged file saved as citibike_weather_2022.csv")

Merged file saved as citibike_weather_2022.csv